html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    text-align: center;
    margin-top: 20px; 
}

.button-container {
    display: flex;
    justify-content: center;      
    align-items: center;
    flex-grow: 1;                  
}

.backbtn {
    background-color: rgb(94, 212, 16);
    border: none;
    color: black;
    padding: 20px 20px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 12px;
}
