body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    
}
#gridSize {
  position: absolute;
  top: 600px;      /* distance depuis le haut de la page */
  left: 40%;       /* centre approximatif horizontalement */
  transform: translateX(-20%);  /* vrai centrage horizontal */
}
#startBtn{
    position: absolute;
    top: 600px;      /* distance depuis le haut de la page */
    left: 45%;       /* centre approximatif horizontalement */
    transform: translateX(-20%);  /* vrai centrage horizontal */
}