body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    
}
