body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    background-color: #ffffff;
}
header {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
}

.grille {
  width: 840px;
  height: 840px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(6, 130px);
  grid-template-rows: repeat(6, 130px);
  gap: 0px; 
}
.case {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.casee {
  background-color: rgb(78, 83, 85);
  display: flex;
  justify-content: center;
  align-items: center;

}