body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    background-color: #ffffff;
}
header {
    background-color: rgb(94, 212, 16);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    border-bottom: black 3.5px solid;
}

.grille {
  width: 720px;
  height: 720px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 120px);
  grid-template-rows: repeat(6, 120px);
  gap: 0px; 
  border: 3.5px solid black;     
}
.case {
  background-color: rgb(169, 212, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.casee {
  background-color: rgb(94, 212, 16);
  display: flex;
  justify-content: center;
  align-items: center;

}

.fleches {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.active {
    background-color: rgb(63, 1, 179);
    border: 3px solid rgb(33, 0, 100);   /* bord plus foncé */
}

.trail {
    background-color: rgb(0, 0, 200);    /* bleu cohérent */
    border: 2px solid rgb(0, 0, 120);    /* bord plus foncé */
}

.fruit {
    background-color: red;
    border: 3px solid brown;             /* bord plus foncé */
}

