body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    background-color: #ffffff;
}
header {
    background-color: rgb(94, 212, 16);
    color: rgb(0, 0, 0);
    padding: 10px 0;
    text-align: center;
    border-bottom: black 5px solid;
}

.grille {
  width: 780px;
  height: 780px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 130px);
  grid-template-rows: repeat(6, 130px);
  gap: 0px; 
  border: 5px solid black;     
}
.case {
  background-color: rgb(169, 212, 16);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.casee {
  background-color: rgb(94, 212, 16);
  display: flex;
  justify-content: center;
  align-items: center;

}

.fleches {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.active {
    background-color: blue;
}
.fruit {
    background-color: red ; 
}
