body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

.mytestbtn {
    background-color: rgb(94, 212, 16);
    border: none;
    display: flex;
    color: black;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;     
    height: 100vh;          
}